<ul class="products__list">
  {{#each productsData}}
    <li id="{{id}}" class="products__item">
      <div class="products__wrapper">
        <h2 class="products__subtitle">{{name}}</h2>
        <p class="products__price">{{price}}$</p>
      </div>
      <p class="products__desc">{{description}}</p>
    </li>
  {{/each}}
</ul>